[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "contracts/lib/dln-contracts"]
	path = contracts/lib/dln-contracts
	url = https://github.com/debridge-finance/dln-contracts
[submodule "contracts/lib/createx-forge"]
	path = contracts/lib/createx-forge
	url = https://github.com/radeksvarz/createx-forge
[submodule "contracts/lib/openzeppelin-foundry-upgrades"]
	path = contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
