# Dependency directory
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

logs

artifacts

# Miscellaneous files
bin
out
dist
broadcast

# bundles
out.min.js
out.min.js.map
