[submodule "packages/evm/contracts/lib/dln-contracts"]
	path = packages/evm/contracts/lib/dln-contracts
	url = https://github.com/debridge-finance/dln-contracts
[submodule "packages/evm/contracts/lib/forge-std"]
	path = packages/evm/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/evm/contracts/lib/openzeppelin-foundry-upgrades"]
	path = packages/evm/contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
